<h1>Pricing</h1>

<% @pricing.each do |price| %>
  <br>
  <b>
    <%= price.product.name %>
  </b>
  <small><%= price.id %></small>
  <b>
    <%= price.unit_amount/100 %>
    <%= price.currency %>
    <%= price.recurring.interval %>
  </b>
  <%= link_to "Pay #{price.unit_amount/100} per #{price.recurring.interval}", checkout_create_path(price: price.id), method: :post, remote: true, data: { disable_with: "validating..."} %>

<% end %>