<!DOCTYPE html>
<html>
  <head>
    <title>Saasblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <h1>Stripe SaaS freemium blog demo</h1>
      <%= link_to "Source code", "https://github.com/corsego/saasblog", target: "_blank" %>
    </center>
    <hr>
    <p class="notice" style="background-color: green;"><%= notice %></p>
    <p class="alert" style="background-color: red;"><%= alert %></p>
    <% if user_signed_in? %>
      <br>
      <%= link_to "Posts", posts_path %>
      <br>
      <%= link_to "Pricing", pricing_path %>
      <br>
      <%= link_to "Stripe BillingPortal", billing_portal_create_path, method: :post, data: { disable_with: "validating..."} %>
      <br>
      <%= link_to current_user.email, edit_user_registration_path %>
      <br>
      Stripe customer id:
      <%= current_user.stripe_customer_id %>
      <br>
      Plan:
      <%= current_user.plan %>
      <br>
      Subscription status:
      <%= current_user.subscription_status %>
      <% if current_user.current_period_end.present? %>
        <br>
        Subscription ends:
        <%= current_user.current_period_end.strftime('%d/%m/%Y') %>
      <% end %>
      <br>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
